---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hi again, I'm glad you are still here.</h1>
		<h2>...you are now entering the gaming section.</h2>
		<iframe
			src="/Tutorial/Tutorial.html"
			width="470"
			height="700"
			title="Tutorial Game"
		></iframe>
	</main>
</Layout>

<style>
	main {
    padding: 0;
    margin: auto;
    width: 75%;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
	}
	iframe {
		margin: 40px auto;
	}
</style>
